html {
    scroll-padding-top: 10vh;
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
}

body {
    /*margin: 20px 20px;*/
    /*padding: 10px 23px;*/
    /*box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.15);*/
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    margin: -8px -7px 0 -5px ;
    height: 10vh;
    /*width: 100vw;*/
    background-color: gray;
    text-align: center;
    line-height: 1vh;
    justify-content: space-around;
    position: sticky;
    top: 0;

}

.header ul {
    display: inline-flex;
    /*justify-content: space-around;*/
    /*width: 100%;*/
    /*text-align: center;*/

}

.header ul li {
    /*justify-content: space-around;*/
    margin-right: 50px;
    list-style: none;
    margin-left: 50px;
    /*text-align: center;*/
    /*width: 70px;*/
    padding: 15px;

}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /*text-align: center;*/
    padding: 15px;
}

/*.header ul li:hover {*/
/*    background-color: white;*/
/*}*/

.header ul li a:hover {
    color: black;
    background-color: white;
    /*padding: 15px;*/
}

/*h2 {*/
/*    color: white;*/
/*    font-family: Verdana sans-serif;*/
/*    font-size: 35px;*/
/*}*/

.section {
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}

.banner {
    height: 90vh;
    /*width: 100vw;*/
    margin-left: -4px;
    background: url("https://p4.wallpaperbetter.com/wallpaper/242/950/470/code-microsoft-visual-studio-wallpaper-preview.jpg") no-repeat;
    background-size: cover;
    /*text-align: center;*/
    /*line-height: 90vh;*/
}

.banner h1 {
    font-size: 70px;
    color: white;
    /*margin: 10px 10px;*/
    margin: 20px 20px;
    letter-spacing: 3px;
}

/*.section-1 {*/
/*    display: inline;*/
/*    height: 90vh;*/
/*    width: 100%;*/
/*    !*display: table;*!*/
/*    !*content: " ";*!*/
/*    !*clear: both;*!*/
/*}*/

.circle {
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
    height: 40vh;
    width: 20%;
    border-radius: 100%;
    background-color: lightgray;
}

.circle img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}


/*.section-2 {*/
/*    display: inline;*/
/*}*/

.main-content {
    background-color: gray;
    height: 90vh;
    width: 45%;
    float: left;
    display: inline-block;
    margin: 20px 20px 20px 10px;
    /*text-align: center;*/
    /*line-height: 90vh;*/
    padding: 10px;
}

.main-content h2 {
    color: white;
}

.main-content p {
    color: white;
    line-height: 1.2;
    font-size: 20px;
    /*letter-spacing: 2px;*/
    word-spacing: 5px;
}

.article {
    float: right;
    /*text-align: center;*/
    /*line-height: 20vh;*/
    width: 45%;
    margin: 20px 10px 20px 20px;
    background-color: indianred;
    height: 26vh;
    text-align: center;
}

.article h2 {
    font-weight: 700;
    font-size: 30px;
}

#bg1 {
    background: url("https://20o8nn37v3mzb7unq3fsj61e-wpengine.netdna-ssl.com/wp-content/uploads/2018/12/Project-management-tools-bad.jpg") no-repeat;
    background-size: cover;
}

#bg2 {
    background: url("https://www.salesforce.com/content/dam/blogs/ca/Blog%20Posts/project-managemnet-open-graph.jpg") no-repeat;
    background-size: cover;
}

#bg3 {
    background: url("https://www.elegantthemes.com/blog/wp-content/uploads/2020/06/best-project-management-platforms-featured-image-scaled.jpg") no-repeat;
    background-size: cover;
}
/*.section-2::after {*/
/*    display: block;*/
/*    content: '';*/
/*    clear: both;*/
/*}*/

/*.section-3 {*/
/*    display: inline;*/
/*}*/

.rec {
    display: inline-block;
    /*background-color: orangered;*/
    width: 22%;
    height: 55vh;
    margin: 10px 20px 0 40px;
    background-color: white;
    /*border: 2px solid blue;*/
    /*width: 100%;*/
    max-width: 300px;
    /*height: 420px;*/
    /*display: inline-block;*/
    /*margin: 10px;*/
    border-radius: 10px;
    outline: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.imageContainer {
    /*border: 1px solid black;*/
    width: 100%;
    max-width: 280px;
    height: 150px;
    margin: 10px;

}

.imageContainer img {
    width: 100%;
    max-width: 280px;
    height: 150px;
    border-radius: 10px;
}

.heading {
    /*border: 1px solid green;*/
    width: 100%;
    max-width: 280px;
    text-align: center;
    margin: 10px;
}

.heading h3 {
    padding: 0;
    margin: 0;
}

.summary {
    /*border: 1px solid yellow;*/
    width: 100%;
    max-width: 280px;
    margin: 10px;
    text-align: justify;
    overflow: hidden;
    height: 140px;
}

.summary p {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    font-size: 20px;
    margin-top: 5px;
    line-height: 1.3;
}

.button {
    border: 1px solid violet;
    width: 100%;
    max-width: 280px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    height: 35px;
    border-radius: 10px;
    background-color: red;
}

.button a {
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-family: "Segoe UI", serif;
    text-decoration: none;
}
.button:hover {
    background-color: blue;
}


.footer {
    height: 15vh;
    width: 100%;
    background-color: rosybrown;
    text-align: center;
    /*line-height: 10vh;*/
}